@import './hero/hero.css';

/* Import Services Files */
@import './services/show.css';
@import './services/create.css';
@import './services/edit.css';

/* Import Statistics Files */
@import './statistics/create.css';
@import './statistics/edit.css';
@import './statistics/show.css';

/* Import Work Files */
@import './work/create.css';
@import './work/edit.css';
@import './work/show.css';

/* Admin Panel Dashboard Styles */
@import './admin_panel/dashboard.css';
@import './admin_panel/verify.css';
@import './admin_panel/login.css';